

h1{
    background-color: orange;
    height: 300px;
    width: 300px;

    /* border-width: 15px;
    border-style: solid;
    border-color: green; */

    /* One line code  */
    border:15px solid green;

    /* Padding is applied inside the box specifically to the content inside the box model. */
    padding: 10px;

    /* Margin is outside the box. */
    margin: 30px;
}

h2{
    background-color: pink;
    border: 2px solid blue;
}

p{
    background-color: aqua;
    padding: 20px;
    border: 5px solid blue;
    margin: 5px;
}